<app-reusables-result-message type="SUCCESS" [message]="successMessageStatus"></app-reusables-result-message>
<app-reusables-result-message type="ERROR" [message]="errorMessageStatus"></app-reusables-result-message>
<form autocomplete="off" [formGroup]="insertIdeaSubmission" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <div class="card mat-elevation-z4">
                <div class="card-header">
                    <strong style="color: #2e2f33; font-size: 20px;">Idea Submission</strong>
                </div>
                <div class="card-body">
                    <!-- Hidden fields -->
                    <!-- Hidden fields closed -->
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="true" class="card mat-elevation-z4">
                            <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                                class="expansionPanel">
                                <mat-panel-title>
                                    Idea Submission
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- desc -->
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <!-- Box 1 begin -->
                            <div class="row">
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="ownerempid">Owner Emp ID:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="ownerempid" class="form-control remove-border"
                                        placeholder="Owner Emp ID">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="ideaownername">Idea Owner Name:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="ideaownername" class="form-control remove-border"
                                        placeholder="Idea Owner Name">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="designationname">Designation:</label>
                                    <input autocomplete="disabled" formControlName="designationname"
                                        class="form-control remove-border" placeholder="Designation">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="client">Client:</label>
                                    <input autocomplete="disabled" type="email" id="text-input" formControlName="client"
                                        class="form-control remove-border" placeholder="Client">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="departmentname">Department:</label>
                                    <input autocomplete="disabled" formControlName="departmentname"
                                        class="form-control remove-border" placeholder="Department">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="hod">Manager:</label>
                                    <input autocomplete="disabled" formControlName="hod"
                                        class="form-control remove-border" placeholder="HOD">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="locationname">Location:</label>
                                    <input autocomplete="disabled" class="form-control remove-border"
                                        formControlName="locationname" placeholder="Location">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="ideaproposalname">Idea Name/Proposal:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="ideaproposalname" class="form-control remove-border"
                                        placeholder="Idea Name/Proposal" oninput="javascript: if ((this.value.length > this.maxLength || this.value.length < this.minlength)) 
                                        this.value = this.value.slice(0, this.maxLength);" maxlength="450"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.ideaproposalname.errors }"></textarea>

                                    <div *ngIf="submitted && insertIdeaSubmission.controls.ideaproposalname.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="insertIdeaSubmission.controls.ideaproposalname.errors.required">This
                                            field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="problemstatement">Problem Statement:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="problemstatement" class="form-control remove-border"
                                        placeholder="Problem Statement" oninput="javascript: if ((this.value.length > this.maxLength || this.value.length < this.minlength)) 
                                        this.value = this.value.slice(0, this.maxLength);" maxlength="450"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.problemstatement.errors }"></textarea>

                                    <div *ngIf="submitted && insertIdeaSubmission.controls.problemstatement.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="insertIdeaSubmission.controls.problemstatement.errors.required">This
                                            field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="leverid">Lever/Technology:</label>
                                    <select id="select1" formControlName="leverid" class="form-control remove-border"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.leverid.errors }">
                                        <option value="" disabled>--Select--</option>
                                        <option *ngFor="let x of leverTechnologyList" [value]="x.id">
                                            {{x.technologyName}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && insertIdeaSubmission.controls.leverid.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="insertIdeaSubmission.controls.leverid.errors.required">This field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="riskdescription">Risk Description:</label>
                                    <textarea autocomplete="disabled" formControlName="riskdescription"
                                        class="form-control remove-border" placeholder="Risk Description" oninput="javascript: if ((this.value.length > this.maxLength || this.value.length < this.minlength)) 
                                        this.value = this.value.slice(0, this.maxLength);" maxlength="450"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.riskdescription.errors }"></textarea>

                                    <div *ngIf="submitted && insertIdeaSubmission.controls.riskdescription.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="insertIdeaSubmission.controls.riskdescription.errors.required">This
                                            field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="benefits">Benefits:</label>
                                    <textarea autocomplete="disabled" formControlName="benefits"
                                        class="form-control remove-border" placeholder="Benefits" oninput="javascript: if ((this.value.length > this.maxLength || this.value.length < this.minlength)) 
                                        this.value = this.value.slice(0, this.maxLength);" maxlength="450"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.benefits.errors }"></textarea>

                                    <div *ngIf="submitted && insertIdeaSubmission.controls.benefits.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="insertIdeaSubmission.controls.benefits.errors.required">This field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectcommencementdate">Project Commencement
                                        Date:</label>
                                    <input autocomplete="disabled" class="form-control remove-border" id="date-input"
                                        formControlName="projectcommencementdate" type="date" placeholder="dd-mm-yyyy"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.projectcommencementdate.errors }">
                                    <div *ngIf="submitted && insertIdeaSubmission.controls.projectcommencementdate.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div
                                            *ngIf="insertIdeaSubmission.controls.projectcommencementdate.errors.required">
                                            This field is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectcompletiondate">Project Completion
                                        Date:</label>
                                    <input autocomplete="disabled" class="form-control remove-border" id="date-input"
                                        formControlName="projectcompletiondate" type="date" placeholder="dd-mm-yyyy"
                                        [min]="getToday()"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.projectcompletiondate.errors }">
                                    <div *ngIf="submitted && insertIdeaSubmission.controls.projectcompletiondate.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div
                                            *ngIf="insertIdeaSubmission.controls.projectcompletiondate.errors.required">
                                            This field is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projecttypeid">Project Type:</label>
                                    <select id="select1" formControlName="projecttypeid"
                                        class="form-control remove-border"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.projecttypeid.errors }">
                                        <option value="" disabled>--Select--</option>
                                        <option *ngFor="let x of projectTypeList" [value]="x.id">
                                            {{x.projecttypeName}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && insertIdeaSubmission.controls.projecttypeid.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="insertIdeaSubmission.controls.projecttypeid.errors.required">This
                                            field
                                            is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="managerfeedback">BT Comments:
                                    </label>
                                    <textarea autocomplete="disabled" formControlName="managerfeedback"
                                        class="form-control remove-border" oninput="javascript: if ((this.value.length > this.maxLength || this.value.length < this.minlength)) 
                                        this.value = this.value.slice(0, this.maxLength);" maxlength="450"
                                        (keypress)="specialCharacterValidation($event)" placeholder="BT Comments"
                                        [ngClass]="{ 'is-invalid': submitted && insertIdeaSubmission.controls.managerfeedback.errors }">
                                    </textarea>
                                    <div *ngIf="submitted && insertIdeaSubmission.controls.managerfeedback.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="insertIdeaSubmission.controls.managerfeedback.errors.required">
                                            This field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-top: 2.5%;">
                                    <div style="margin-bottom: 1%;">
                                        <label for="receiptfilename"
                                            class="file-upload btn btn-block rounded-pill shadow bg-color"><i
                                                class="fa fa-upload mr-2"></i>{{ideaFileName == ""? 'Upload Idea Submission'
                                                 : ideaFileName}}
                                            <input id="receiptfilename" type="file"
                                                (change)="selectIdeaSubmissionFile($event)">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div class="card-footer">
                    <button mat-raised-button type="submit" class="submit_button">
                        <i class="fa fa-paper-plane-o" style="margin-bottom: 4%;" aria-hidden="true"></i>
                        Submit</button>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button type="submit" class="back_button" (click)="GoBack()">
                        <i class="fa fa-backward" style="margin-bottom: 7%;" aria-hidden="true"></i> Back</button>

                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</form>