::ng-deep .mat-dialog-container {
    display: block;
    padding: 10px;
    border-radius: 50px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
   
}