<app-reusables-result-message type="SUCCESS" [message]="successMessageStatus"></app-reusables-result-message>
<app-reusables-result-message type="ERROR" [message]="errorMessageStatus"></app-reusables-result-message>
<form autocomplete="off" [formGroup]="createProjectCharter" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <div class="card mat-elevation-z4">
                <div class="card-header">
                    <strong style="color: #2e2f33; font-size: 20px;">Project Charter</strong>
                </div>
                <div class="card-body">
                    <!-- Hidden fields -->
                    <!-- Hidden fields closed -->
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="true" class="card mat-elevation-z4">
                            <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                                class="expansionPanel">
                                <mat-panel-title>
                                    Project Charter
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- desc -->
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <!-- Box 1 begin -->
                            <div class="row">

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectName">Project Name:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectName" class="form-control remove-border"
                                        placeholder="Project Name">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectSponsor">Project Sponser:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectSponsor" class="form-control remove-border"
                                        placeholder="Project Sponser">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectManager">Project Manager:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectManager" class="form-control remove-border"
                                        placeholder="Project Manager">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="problemStatement">Problem Statement:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="problemStatement" class="form-control remove-border"
                                        placeholder="Problem Statement"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectDescription">Project Description:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectDescription" class="form-control remove-border"
                                        placeholder="Project Description"></textarea>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="inScope">In Scope :</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="inScope" class="form-control remove-border"
                                        placeholder="In Scope"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="outScope">Out Scope:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="outScope" class="form-control remove-border"
                                        placeholder="Out Scope"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="businessCase">Business Case:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="businessCase" class="form-control remove-border"
                                        placeholder="Business Case"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="leverId">Lever/Technology:</label>
                                    <select id="select1" formControlName="leverId" class="form-control remove-border">
                                        <option value="" disabled>--Select--</option>
                                        <option *ngFor="let x of leverTechnologyList" [value]="x.id">
                                            {{x.technologyName}}
                                        </option>
                                    </select>

                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectapprovalDate">Date of Project Approval
                                        :</label>
                                    <input autocomplete="disabled" class="form-control remove-border" id="date-input"
                                        formControlName="projectapprovalDate" type="date" placeholder="dd-mm-yyyy">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="lastrevisionDate">Last Revision Date
                                        :</label>
                                    <input autocomplete="disabled" class="form-control remove-border" id="date-input"
                                        formControlName="lastrevisionDate" type="date" placeholder="dd-mm-yyyy">
                                </div>
                                <div *ngIf="!hiddenProjectCharterAccordion" class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectRisk">Project Risk:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectRisk" class="form-control remove-border"
                                        placeholder="Project Risk"></textarea>
                                </div>
                                <div *ngIf="!hiddenProjectCharterAccordion" class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectDeliverable">Project Deliverables:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectDeliverable" class="form-control remove-border"
                                        placeholder="Project Deliverables"></textarea>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-expansion-panel style="margin-top: 1%;" class="card mat-elevation-z4">
                        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                            class="expansionPanel">
                            <mat-panel-title>
                                Result Area
                                (Please Tick the appropriate and provide description)
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-8" style="margin-bottom: 3%;">
                                <p>**Click on Add (+) button to add new rows.</p>
                                <br><br>
                                <div class="table-responsive cnstr-record">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-form-label">Type</th>
                                                <th class="col-form-label">Description</th>
                                                <th width="50">
                                                    <button style="margin: 10px;" type="button" class="btn btn-primary"
                                                        title="Add" (click)="addBlankRow('resultArea')"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of blankResultAreaArray; let i = index">
                                                <td>
                                                    <select id="select1" class="form-control remove-border wp-30"
                                                        [(ngModel)]="blankResultAreaArray[i].resultareaId"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option value="" disabled>--Select--</option>
                                                        <option *ngFor="let x of resulAreaNameList" [value]="x.id">
                                                            {{x.resultareaName}}</option>>
                                                    </select>
                                                </td>
                                                <td>
                                                    <textarea type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="blankResultAreaArray[i].description"
                                                        [ngModelOptions]="{standalone: true}"> </textarea>
                                                </td>
                                                <td style="text-align:center">
                                                    <button (click)="deleteRow(i,'resultArea')" title="Delete"
                                                        class="btn btn-danger"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="!hiddenProjectCharterAccordion" style="margin-top: 1%;"
                        class="card mat-elevation-z4">
                        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                            class="expansionPanel">
                            <mat-panel-title>
                                Benefits
                                (measurable results)
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-8" style="margin-bottom: 3%;">
                                <p>**Click on Add (+) button to add new rows.</p>
                                <br><br>
                                <div class="table-responsive cnstr-record">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-form-label">KPI</th>
                                                <th class="col-form-label">Baseline</th>
                                                <th class="col-form-label">Goal</th>
                                                <th width="50">
                                                    <button style="margin: 10px;" type="button" class="btn btn-primary"
                                                        title="Add" (click)="addBlankRow('benefits')"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of blankBenefitsArray; let i = index">
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="blankBenefitsArray[i].kpi"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="blankBenefitsArray[i].baseline"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>

                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="blankBenefitsArray[i].goal"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td style="text-align:center">
                                                    <button (click)="deleteRow(i,'benefits')" title="Delete"
                                                        class="btn btn-danger"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>


                    <mat-expansion-panel *ngIf="!hiddenProjectCharterAccordion" style="margin-top: 1%;"
                        class="card mat-elevation-z4">
                        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                            class="expansionPanel">
                            <mat-panel-title>
                                DMAIC Phase Toll Gate
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-12" style="margin-bottom: 3%;">
                                <p>**Click on Add (+) button to add new rows.</p>
                                <br><br>
                                <div class="table-responsive cnstr-record">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-form-label">Name</th>
                                                <th class="col-form-label">StartDate</th>
                                                <th class="col-form-label">EndDate</th>
                                                <th class="col-form-label">Toll Gate Review Date</th>
                                                <th width="50">
                                                    <button style="margin: 10px;" type="button" class="btn btn-primary"
                                                        title="Add" (click)="addBlankRow('dmailTollPhase')"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of dmailTollPhaseArray; let i = index">
                                                <td>
                                                    <select id="select1" class="form-control remove-border wp-30"
                                                        [(ngModel)]="dmailTollPhaseArray[i].dmaicId"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option value="" disabled>--Select--</option>
                                                        <option *ngFor="let x of DMAICTollGateList" [value]="x.id">
                                                            {{x.dmaicphaseName}}</option>>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control remove-border wp-30"
                                                        value="mm/dd/yyyy" [max]="getToday()"
                                                        [(ngModel)]="dmailTollPhaseArray[i].startDate"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control remove-border wp-30"
                                                        value="mm/dd/yyyy" [max]="getToday()"
                                                        [(ngModel)]="dmailTollPhaseArray[i].endDate"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control remove-border wp-30"
                                                        value="mm/dd/yyyy" [max]="getToday()"
                                                        [(ngModel)]="dmailTollPhaseArray[i].tollgatereviewDate"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td style="text-align:center">
                                                    <button (click)="deleteRow(i,'dmailTollPhase')" title="Delete"
                                                        class="btn btn-danger"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="!hiddenProjectCharterAccordion" style="margin-top: 1%;"
                        class="card mat-elevation-z4">
                        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                            class="expansionPanel">
                            <mat-panel-title>
                                Steering Committee
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row">
                            <div class="col-md-3" style="margin-bottom: 3%;">
                                <label class="col-form-label" for="champion">Champion :</label>
                                <input autocomplete="disabled" type="text" id="text-input" formControlName="champion"
                                    class="form-control remove-border" placeholder="Champion">
                            </div>
                            <div class="col-md-3" style="margin-bottom: 3%;">
                                <label class="col-form-label" for="masterblackBelt">Master Black Belt:</label>
                                <input autocomplete="disabled" type="text" id="text-input"
                                    formControlName="masterblackBelt" class="form-control remove-border"
                                    placeholder="Master Black Belt">
                            </div>
                            <div class="col-md-3" style="margin-bottom: 3%;">
                                <label class="col-form-label" for="blackBelt">Black Belt:</label>
                                <input autocomplete="disabled" type="text" id="text-input" formControlName="blackBelt"
                                    class="form-control remove-border" placeholder="Black Belt">
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="!hiddenProjectCharterAccordion" style="margin-top: 1%;"
                        class="card mat-elevation-z4">
                        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                            class="expansionPanel">
                            <mat-panel-title>
                                Steering Committee Project Team
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-8" style="margin-bottom: 3%;">
                                <p>**Click on Add (+) button to add new rows.</p>
                                <br><br>
                                <div class="table-responsive cnstr-record">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-form-label">Emp Id</th>
                                                <th class="col-form-label">Name</th>
                                                <th width="50">
                                                    <button style="margin: 10px;" type="button" class="btn btn-primary"
                                                        title="Add" (click)="addBlankRow('steeringcomiteeTeam')"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of steeringcomiteeTeamArray; let i = index">
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="steeringcomiteeTeamArray[i].employeeId"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="steeringcomiteeTeamArray[i].employeeName"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>

                                                <td style="text-align:center">
                                                    <button (click)="deleteRow(i,'steeringcomiteeTeam')" title="Delete"
                                                        class="btn btn-danger"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="!hiddenProjectCharterAccordion" style="margin-top: 1%;"
                        class="card mat-elevation-z4">
                        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                            class="expansionPanel">
                            <mat-panel-title>
                                Key Stakeholders
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-8" style="margin-bottom: 3%;">
                                <p>**Click on Add (+) button to add new rows.</p>
                                <br><br>
                                <div class="table-responsive cnstr-record">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-form-label">Name</th>
                                                <th class="col-form-label">Success Criteria</th>
                                                <th width="50">
                                                    <button style="margin: 10px;" type="button" class="btn btn-primary"
                                                        title="Add" (click)="addBlankRow('keyStakeHolders')"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of keyStakeHoldersArray; let i = index">
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="keyStakeHoldersArray[i].ksName"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="keyStakeHoldersArray[i].successCriteria"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>

                                                <td style="text-align:center">
                                                    <button (click)="deleteRow(i,'keyStakeHolders')" title="Delete"
                                                        class="btn btn-danger"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel style="margin-top: 1%;" class="card mat-elevation-z4">
                        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                            class="expansionPanel">
                            <mat-panel-title>
                                Documents that need to be Updated
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-12" style="margin-bottom: 3%;">
                                <p>**Click on Add (+) button to add new rows.</p>
                                <br><br>
                                <div class="table-responsive cnstr-record">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-form-label">Document Name</th>
                                                <th class="col-form-label">Doc No.</th>
                                                <th class="col-form-label">Resp.</th>
                                                <th class="col-form-label">Requested on</th>
                                                <th class="col-form-label">Updated on</th>
                                                <th class="col-form-label">Resp Signatory</th>
                                                <th width="50">
                                                    <button style="margin: 10px;" type="button" class="btn btn-primary"
                                                        title="Add" (click)="addBlankRow('documentsUpdated')"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of documentsUpdatedArray; let i = index">
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="documentsUpdatedArray[i].documentName"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="documentsUpdatedArray[i].documentNo"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="documentsUpdatedArray[i].resp"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control remove-border wp-30"
                                                        value="mm/dd/yyyy" [max]="getToday()"
                                                        [(ngModel)]="documentsUpdatedArray[i].requestedOn"
                                                        [ngModelOptions]="{standalone: true}">

                                                </td>

                                                <td>
                                                    <input type="date" class="form-control remove-border wp-30"
                                                        value="mm/dd/yyyy" [max]="getToday()"
                                                        [(ngModel)]="documentsUpdatedArray[i].updatedOn"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="documentsUpdatedArray[i].respRepository"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>

                                                <td style="text-align:center">
                                                    <button (click)="deleteRow(i,'documentsUpdated')" title="Delete"
                                                        class="btn btn-danger"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="!hiddenProjectCharterAccordion" style="margin-top: 1%;"
                        class="card mat-elevation-z4">
                        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                            class="expansionPanel">
                            <mat-panel-title>
                                Revision History
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-12" style="margin-bottom: 3%;">
                                <p>**Click on Add (+) button to add new rows.</p>
                                <br><br>
                                <div class="table-responsive cnstr-record">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-form-label">Description</th>
                                                <th class="col-form-label">Date Modified</th>
                                                <th class="col-form-label">Checked by</th>
                                                <th class="col-form-label">Approved by</th>
                                                <th width="50">
                                                    <button style="margin: 10px;" type="button" class="btn btn-primary"
                                                        title="Add" (click)="addBlankRow('revisionHistory')"><i
                                                            class="fa fa-plus" aria-hidden="true"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of revisionHistoryArray; let i = index">
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="revisionHistoryArray[i].description"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="date" class="form-control remove-border wp-30"
                                                        value="mm/dd/yyyy" [max]="getToday()"
                                                        [(ngModel)]="revisionHistoryArray[i].dateModified"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="revisionHistoryArray[i].checkedBy"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control remove-border wp-30"
                                                        [(ngModel)]="revisionHistoryArray[i].approvedBy"
                                                        [ngModelOptions]="{standalone: true}">
                                                </td>

                                                <td style="text-align:center">
                                                    <button (click)="deleteRow(i,'revisionHistory')" title="Delete"
                                                        class="btn btn-danger"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>


                </div>

                <div class="card-footer">
                    <button mat-raised-button type="submit" class="submit_button">
                        <i class="fa fa-paper-plane-o" style="margin-bottom: 4%;" aria-hidden="true"></i>
                        Submit</button>&nbsp;&nbsp;&nbsp;
                    <!-- <button mat-raised-button type="submit" class="back_button" (click)="GoBack()"> -->
                        <button mat-raised-button type="submit" class="back_button">
                        <i class="fa fa-backward" style="margin-bottom: 7%;" aria-hidden="true"></i> Back</button>

                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</form>