
.login_button {
    border: none;
    background: #5871e0;
    color: hsl(0, 0%, 100%) !important;
    font-weight: 70;
    text-align: center;
    width: 70%;
    height: 5vh;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
  .login_button:hover {
    color: #ffffff !important;
    font-weight: 80 !important;
    letter-spacing: 1px;
    background: #8494dd;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    ;
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }

  .tiledBackground {
    /* background-image: url(assets/img/img/Lightbulb-925x545.gif); */
    background-size: 150px;
    width: 300px;
    height: 300px;    
  }

  .loginbackground {
    background-image:url(/assets/img/img/backgroundInv.jpg);
  
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover; 
  }