<!-- <div class="app-body" style="background: rgb(189, 211, 236);
background: radial-gradient(circle, rgb(194, 213, 235) 13%, rgb(174, 205, 241) 99%);"> -->

<div class="app-body" style="background-image:url(assets/img/img/backgroundInv2.png);height: 100%;  
background-position: center;background-repeat: no-repeat;background-size: cover;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <app-reusables-result-message type="ERROR" [message]="errorMessageStatus"></app-reusables-result-message>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4" style="width:44%; background: linear-gradient(to bottom, #ffffff 0%, #a3c6e9 100%);">
              <div class="card-body">
                <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="email" class="form-control remove-border" formControlName="username"
                      placeholder="Username" autocomplete="username"
                      [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }">
                  </div>

                  <div *ngIf="submitted && loginForm.controls.username.errors" class="alert alert-danger">
                    <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control remove-border" formControlName="password"
                      placeholder="Password" autocomplete="current-password"
                      [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }">
                  </div>

                  <div *ngIf="submitted && loginForm.controls.password.errors" class="alert alert-danger">
                    <div *ngIf="loginForm.controls.password.errors.required">password is required</div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button mat-raised-button type="submit" class="login_button">
                        <i class="fa fa-sign-in" style="margin-bottom: 4%;" aria-hidden="true"></i> Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white py-5 d-md-down-none"
              style="width:44%; background: linear-gradient(to bottom, #afc8e9 0%, #d7e8f7 100%);">
              <div class="card-body text-center">
                <div>
                  <!-- text -->
                  <div>
                    <img src="assets/img/brand/ais_logo5.png" width="70%" height="70%" alt="" />
                  </div>
                  <img src="assets/img/img/employees.png" width="50%" height="50%" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>