<app-reusables-result-message type="SUCCESS" [message]="successMessageStatus"></app-reusables-result-message>
<app-reusables-result-message type="ERROR" [message]="errorMessageStatus"></app-reusables-result-message>
<form autocomplete="off" [formGroup]="updateIdeaSubmission" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <div class="card mat-elevation-z4">
                <div class="card-header">
                    <strong style="color: #2e2f33; font-size: 20px;">Update Idea Submission</strong>
                </div>
                <div class="card-body">
                    <!-- Hidden fields closed -->
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="true" class="card mat-elevation-z4">
                            <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                                class="expansionPanel">
                                <mat-panel-title>
                                    Idea Submission
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- desc -->
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <!-- Box 1 begin -->
                            <div class="row">
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="ownerempid">Owner Emp ID:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="ownerempid" class="form-control remove-border"
                                        placeholder="Owner Emp ID">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="ideaownername">Idea Owner Name:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="ideaownername" class="form-control remove-border"
                                        placeholder="Idea Owner Name">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="designationname">Designation:</label>
                                    <input autocomplete="disabled" formControlName="designationname"
                                        class="form-control remove-border">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="client">Client:</label>
                                    <input autocomplete="disabled" type="email" id="text-input" formControlName="client"
                                        class="form-control remove-border">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="departmentname">Department:</label>
                                    <input autocomplete="disabled" formControlName="departmentname"
                                        class="form-control remove-border">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="hod">HOD:</label>
                                    <input autocomplete="disabled" formControlName="hod"
                                        class="form-control remove-border">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="locationname">Location:</label>
                                    <input autocomplete="disabled" class="form-control remove-border"
                                        formControlName="locationname">
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="ideaproposalname">Idea Name/Proposal:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="ideaproposalname" class="form-control remove-border"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.ideaproposalname.errors }"></textarea>

                                    <div *ngIf="submitted && updateIdeaSubmission.controls.ideaproposalname.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="updateIdeaSubmission.controls.ideaproposalname.errors.required">This
                                            field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="problemstatement">Problem Statement:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="problemstatement" class="form-control remove-border"
                                        placeholder="Problem Statement"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.ideaproposalname.errors }"></textarea>

                                    <div *ngIf="submitted && updateIdeaSubmission.controls.problemstatement.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="updateIdeaSubmission.controls.problemstatement.errors.required">This
                                            field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="leverid">Lever/Technology:</label>
                                    <select id="select1" formControlName="leverid" class="form-control remove-border"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.leverid.errors }">
                                        <option value="" disabled>--Select--</option>
                                        <option *ngFor="let x of leverTechnologyList" [value]="x.id">
                                            {{x.technologyName}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && updateIdeaSubmission.controls.leverid.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="updateIdeaSubmission.controls.leverid.errors.required">This field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="riskdescription">Risk Description:</label>
                                    <textarea autocomplete="disabled" formControlName="riskdescription"
                                        class="form-control remove-border"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.riskdescription.errors }"></textarea>

                                    <div *ngIf="submitted && updateIdeaSubmission.controls.riskdescription.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="updateIdeaSubmission.controls.riskdescription.errors.required">This
                                            field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="benefits">Benefits:</label>
                                    <textarea autocomplete="disabled" formControlName="benefits"
                                        class="form-control remove-border"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.benefits.errors }"></textarea>

                                    <div *ngIf="submitted && updateIdeaSubmission.controls.benefits.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="updateIdeaSubmission.controls.benefits.errors.required">This field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectcommencementdate">Project Commencement
                                        Date:</label>
                                    <input autocomplete="disabled" class="form-control remove-border" id="date-input"
                                        formControlName="projectcommencementdate" type="date" placeholder="dd-mm-yyyy"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.projectcommencementdate.errors }">
                                    <div *ngIf="submitted && updateIdeaSubmission.controls.projectcommencementdate.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div
                                            *ngIf="updateIdeaSubmission.controls.projectcommencementdate.errors.required">
                                            This field is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectcompletiondate">Project Completion
                                        Date:</label>
                                    <input autocomplete="disabled" class="form-control remove-border" id="date-input"
                                        formControlName="projectcompletiondate" type="date" placeholder="dd-mm-yyyy"
                                        [min]="getToday()"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.projectcompletiondate.errors }">
                                    <div *ngIf="submitted && updateIdeaSubmission.controls.projectcompletiondate.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div
                                            *ngIf="updateIdeaSubmission.controls.projectcompletiondate.errors.required">
                                            This field is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projecttypeid">Project Type:</label>
                                    <select id="select1" formControlName="projecttypeid"
                                        class="form-control remove-border"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.projecttypeid.errors }">
                                        <option value="" disabled>--Select--</option>
                                        <option *ngFor="let x of projectTypeList" [value]="x.id">
                                            {{x.projecttypeName}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && updateIdeaSubmission.controls.projecttypeid.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="updateIdeaSubmission.controls.projecttypeid.errors.required">This
                                            field
                                            is required</div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="managerfeedback">BT Comments:</label>
                                    <textarea autocomplete="disabled" formControlName="managerfeedback"
                                        class="form-control remove-border" maxlength="500"
                                        (keypress)="specialCharacterValidation($event)"
                                        [ngClass]="{ 'is-invalid': submitted && updateIdeaSubmission.controls.managerfeedback.errors }">
                                    </textarea>
                                    <div *ngIf="submitted && updateIdeaSubmission.controls.managerfeedback.errors"
                                        style="color: rgb(245, 71, 71);" class="alert alert-danger">
                                        <div *ngIf="updateIdeaSubmission.controls.managerfeedback.errors.required">
                                            This field
                                            is required</div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="margin-top: 2.5%;">
                                    <div style="margin-bottom: 1%;">
                                        <div class="form-group" *ngIf="showDownloadIdeaSubmissionButton">
                                            <button mat-raised-button type="button" class="download_button"
                                                (click)="downloadIdeaSubmission()">
                                                <i style="margin-bottom: 7%;" class="fa fa-download"
                                                    aria-hidden="true"></i>&nbsp; Download
                                                Idea Submission</button>
                                            &nbsp;
                                            <a style="position: relative;top: 5px;margin-left: 8px;color: red;"
                                                (click)="deleteIdeaSubmissionile()" title="Delete">
                                                <i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                                        </div>

                                        <label *ngIf="showUploadIdeaSubmissionButton" for="receiptfilename"
                                            class="file-upload btn btn-block rounded-pill shadow bg-color"><i
                                                class="fa fa-upload mr-2"></i>{{receiptfilename == ""? 'Upload Idea Submission'
                                                 : receiptfilename}}
                                            <input id="receiptfilename" type="file"
                                                (change)="selectIdeaSubmissionFile($event)">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div class="card-footer">
                    <button mat-raised-button type="submit" class="submit_button">
                        <i class="fa fa-paper-plane-o" style="margin-bottom: 4%;" aria-hidden="true"></i>
                        Submit</button>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button type="submit" class="back_button" (click)="GoBack()">
                        <i class="fa fa-backward" style="margin-bottom: 7%;" aria-hidden="true"></i> Back</button>

                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</form>