<app-reusables-result-message type="SUCCESS" [message]="successMessageStatus"></app-reusables-result-message>
<app-reusables-result-message type="ERROR" [message]="errorMessageStatus"></app-reusables-result-message>
<div class="row">
    <div class="col-md-12">
        <div class="card mat-elevation-z8">
            <div class="card-header">
                <strong style="color: #2e2f33; font-size: 20px;">Project Charter</strong>
            </div>
            <div class="card-body">
                <div class="animated fadeIn">
                    <div>
                        <div class="searchBox">
                            <input class="form-control remove-border" type="text" name="search"
                                (keyup)="applyFilter($event.target.value)" autocomplete="off"
                                placeholder="&#61442;  Search here. ">
                        </div>
                        <div>
                            <table class="dataTable" mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No. </th>
                                    <td mat-cell *matCellDef="let element; let i = index;"> {{(i+1)+
                                    (myPaginator.pageIndex * myPaginator.pageSize)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="projectName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</th>
                                    <td mat-cell *matCellDef="let row">{{row.projectName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="projecttypeName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Type</th>
                                    <td mat-cell *matCellDef="let row">{{row.projecttypeName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="projectcharterstatusName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                                    <td mat-cell *matCellDef="let row">{{row.projectcharterstatusName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="projectSponsor">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Sponsor</th>
                                    <td mat-cell *matCellDef="let row">{{row.projectSponsor}} </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="projectManager">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Manager</th>
                                    <td mat-cell *matCellDef="let row"> {{row.projectManager}} </td>
                                </ng-container> -->
                                <ng-container matColumnDef="inScope">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> In Scope
                                    </th>
                                    <td mat-cell *matCellDef="let row"> {{row.inScope}} </td>
                                </ng-container>
                                <ng-container matColumnDef="outScope">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Out Scope
                                    </th>
                                    <td mat-cell *matCellDef="let row"> {{row.outScope}} </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
                                    <td mat-cell *matCellDef="let row">

                                        <a (click)="updateProjectCharter(row)" title="Edit" routerLinkActive="active">
                                            <i class="fa fa-pencil-square-o" style="color:black"></i></a>

                                        &nbsp;&nbsp;

                                        <a *ngIf="isBTAdmin" (click)="approveProjectCharter(row)" title="Approval" routerLinkActive="active">
                                            <i class="fa fa-check" aria-hidden="true" style="color:black"></i> </a>

                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>
                            <br><br>
                            <label class="InputLabels" *ngIf="hiddenField">No Records
                                Found..!</label>
                            <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>