.searchBox {
    max-width: 100%;
    font-size: 15px;
    margin-left: 75%;
    padding-bottom: 20px;
  }
  
  /* .form-control{
    outline-color: rgb(75, 69, 69);
    background-color: rgb(240, 233, 233);
  } */
  
  .form-control::placeholder {
    font-family: FontAwesome;
  }
   
  td,
  th {
    width: 8%;
    text-align: center;
    align-content: center;

  }
  
  .mat-cell {
    font-size: 12px;
    font-family: Verdana, Sans-Serif;
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid rgb(117, 110, 110);
    border-top: 1px solid rgb(117, 110, 110);
    border-left: 1px solid rgb(117, 110, 110);
    border-right: 1px solid rgb(117, 110, 110);
  }
  
  /* .mat-header-cell {
    vertical-align: middle;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
    font-size: 13px;
    color: rgb(49, 45, 45);
    font-family: Verdana, Sans-Serif;
    background-color: rgb(187, 201, 216);
    font-weight: bolder;
    border-bottom: 1px solid rgb(117, 110, 110);
    border-top: 1px solid rgb(117, 110, 110);
    border-left: 1px solid rgb(117, 110, 110);
    border-right: 1px solid rgb(117, 110, 110);
  }
  
  .mat-row:nth-child(even) {
    background-color: rgb(216, 217, 219);
  } */
  
  .mat-row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
  }
  
  .InputLabels {
    font-size: 14px;
    padding-left: 45%;
    color: rgb(40, 44, 44);
  }
  
  
  table {
    width: 100%;
    box-shadow: 2px 2px 2px #999; 
  }
  
  ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
  }
  
  .mat-column-reportingManager {

    width: 15% !important;
   
  }
  .mat-column-designationName {

    width: 15% !important;
   
  }
  .mat-column-fullName {

    width: 15% !important;
   
  }

  .applyButton{
    border: none;
      background: #00457c;
      color: hsl(0, 0%, 100%) !important;
      font-weight: 70;
      text-align: center;
      border-radius: 3px;
      display: inline-block;
      transition: all 0.3s ease 0s;
  }
  
  .applyButton:hover{
    color: #ffffff !important;
    font-weight: 80 !important;
    background: #00457c;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    ;
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }
  
  .space-btw{

    justify-content: space-between;
  }