<app-reusables-result-message type="SUCCESS" [message]="successMessageStatus"></app-reusables-result-message>
<app-reusables-result-message type="ERROR" [message]="errorMessageStatus"></app-reusables-result-message>
<form autocomplete="off" [formGroup]="approveProjectCharter" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <div class="card mat-elevation-z4">
                <div class="card-header">
                    <strong style="color: #2e2f33; font-size: 20px;">Project Charter</strong>
                </div>
                <div class="card-body">
                    <!-- Hidden fields -->
                    <!-- Hidden fields closed -->
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="true" class="card mat-elevation-z4">
                            <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'50px'"
                                class="expansionPanel">
                                <mat-panel-title>
                                    Project Charter
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!-- desc -->
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <!-- Box 1 begin -->
                            <div class="row">

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectName">Project Name:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectName" class="form-control remove-border"
                                        placeholder="Project Name">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectSponsor">Project Sponser:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectSponsor" class="form-control remove-border"
                                        placeholder="Project Sponser">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectManager">Project Manager:</label>
                                    <input autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectManager" class="form-control remove-border"
                                        placeholder="Project Manager">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="problemStatement">Problem Statement:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="problemStatement" class="form-control remove-border"
                                        placeholder="Problem Statement"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectDescription">Project Description:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectDescription" class="form-control remove-border"
                                        placeholder="Project Description"></textarea>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="inScope">In Scope :</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="inScope" class="form-control remove-border"
                                        placeholder="In Scope"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="outScope">Out Scope:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="outScope" class="form-control remove-border"
                                        placeholder="Out Scope"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="buisnessCase">Business Case:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="buisnessCase" class="form-control remove-border"
                                        placeholder="Business Case"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="leverId">Lever/Technology:</label>
                                    <select id="select1" formControlName="leverId" class="form-control remove-border">
                                        <option value="" disabled>--Select--</option>
                                        <option *ngFor="let x of leverTechnologyList" [value]="x.id">
                                            {{x.technologyName}}
                                        </option>
                                    </select>

                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectapprovalDate">Date of Project Approval
                                        :</label>
                                    <input autocomplete="disabled" class="form-control remove-border" id="date-input"
                                        formControlName="projectapprovalDate" type="date" placeholder="dd-mm-yyyy">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="lastrevisionDate">Last Revision Date
                                        :</label>
                                    <input autocomplete="disabled" class="form-control remove-border" id="date-input"
                                        formControlName="lastrevisionDate" type="date" placeholder="dd-mm-yyyy">
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectRisk">Project Risk:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectRisk" class="form-control remove-border"
                                        placeholder="Project Risk"></textarea>
                                </div>
                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="projectDeliverable">Project Deliverables:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="projectDeliverable" class="form-control remove-border"
                                        placeholder="Project Deliverables"></textarea>
                                </div>

                                <div class="col-md-3" style="margin-bottom: 3%;">
                                    <label class="col-form-label" for="comments">Comments:</label>
                                    <textarea autocomplete="disabled" type="text" id="text-input"
                                        formControlName="comments" class="form-control remove-border"
                                        placeholder="Comments"></textarea>
                                </div>

                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                </div>

                <div class="card-footer">
                    <button mat-raised-button (click)="onApproveClick()" type="approve" class="retain_button">
                        <i class="fa fa-paper-plane-o" style="margin-bottom: 4%;" aria-hidden="true"></i>
                        Approve</button>&nbsp;&nbsp;&nbsp;

                    <button mat-raised-button (click)="onReturnClick()" type="submit" class="submit_button">
                        <i class="fa fa-paper-plane-o" style="margin-bottom: 4%;" aria-hidden="true"></i>
                        Return</button>&nbsp;&nbsp;&nbsp;

                    <button mat-raised-button type="submit" class="back_button" (click)="onRejectClick()">
                        <i class="fa fa-backward" style="margin-bottom: 7%;" aria-hidden="true"></i> Reject</button>
                </div>

            </div>
        </div>
    </div>
    <!--/.row-->
</form>