<div class="animated fadeIn">
  <div class="row" style="justify-content: space-between;">
    <div class="card mat-elevation-z4">
      <div class="card-header">
        <strong style="color: #2e2f33; font-size: 20px;">Innovation Lab</strong>
      </div>
      <div class="row">
        <br>
      </div>
      <div class="col-12">
        <div class="row" style="justify-content: space-between;">
          <div class="col-6 card">
            <div class="card-header row">
              <strong class="font-cursive" style="color: #2e2f33; font-size: 16px;">Idea Submission</strong>
            </div>
            <div *ngIf="ideaSubmissionResultSet.length === 0" class="a">No Data Found</div>
            <ngx-charts-pie-chart *ngIf="ideaSubmissionResultSet.length !== 0" [view]="colorSchemeIdea"
              [scheme]="colorSchemeIdea" [results]="ideaSubmissionResultSet" [gradient]="gradient" [legend]="showLegend"
              [legendPosition]="legendPosition" [labels]="true" (select)="onSelect($event)"
              (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-pie-chart>
          </div>
          <div class="col-6 card">
            <div class="card-header row">
              <strong class="font-cursive" style="color: #2e2f33; font-size: 16px;">Project Charter</strong>
            </div>
            <div *ngIf="projectcharterResultSet.length === 0" class="a">No Data Found</div>
            <ngx-charts-pie-chart *ngIf="projectcharterResultSet.length !== 0" [view]="colorSchemeProject"
              [scheme]="colorSchemeProject" [results]="projectcharterResultSet" [gradient]="gradient"
              [legend]="showLegend" [legendPosition]="legendPosition" [labels]="true" (select)="onSelect($event)"
              (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>