img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-mini-fab {
    width: 30px!important;
    height: 30px!important;
  }

  .align-select{
    margin-left: 20px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }

  .align-select1{
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }

  .font-cursive {
    font-family: cursive;
  }

  .m-width {
     width: auto;
  }

  .align-select-dept{
    margin-left: 10px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px; 
  }

  div.a {
    text-align: center;
    margin-top: 50%;
    font-family: cursive;
    font-size: 20px;
  }
  