<h1 matDialogTitle>{{ data.title}}</h1>
<div mat-dialog-content style="margin-bottom:20px;" *ngIf="!data.delete">{{ data.message }}</div>



<div mat-dialog-actions>
  <div class="row"  class="full-width" style="margin-bottom:20px;">
    <button type="button" mat-raised-button (click)="dialogRef.close(false)">
      Cancel
    </button>
    <button class="submit_button" style="background-color: #00457c;" type="button" mat-raised-button color="primary" *ngIf="data.delete" [disabled]="confirmForm.invalid" (click)="emitInput()">
      {{data.button}}
    </button>
    <button class="submit_button" style="background-color: #00457c;" type="button" mat-raised-button color="primary" *ngIf="!data.delete" (click)="emitInput()">
      {{data.button}}
    </button>
  </div>
</div>

