
 .disabledField{
    pointer-events: none; 
    cursor: no-drop; 
  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(84, 114, 180)!important;
  }
  
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(97, 173, 243);
  }
  
  input.mat-input-element {
    color: rgb(66, 67, 68);
  }
  
  
  
  
  .col-form-label{
    font-weight: 500;
  }
  
  /* .form-control{
    color: black;
    outline-color: black;
    background-color: rgb(241, 227, 227);
  
  } */
  input::placeholder {
    font-size: 12px;
  }
  
  .back_button {
    border: none;
    background: #e23c1f;
    color: #ffffff !important;
    font-weight: 100;
    display: inline-flex;
    align-items: center; 
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
  .back_button:hover {
    color: #ffffff !important;
    font-weight: 100 !important;
    letter-spacing: 1px;
    background: #df7c74;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    ;
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }
  
   
  .submit_button {
    border: none;
    background: #3753cc;
    color: hsl(0, 0%, 100%) !important;
    font-weight: 70;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
  .submit_button:hover {
    color: #ffffff !important;
    font-weight: 80 !important;
    letter-spacing: 1px;
    background: #8697e6;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    ;
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }
  
  .warning-msg{
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
  }
  
  .warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
  }
  
  
  /*
  *
  * ==========================================
  * CUSTOM UTIL CLASSES
  * ==========================================
  *
  */
  
  .file-upload input[type='file'] {
  display: none;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */
  
  body {
  background: #00457c;
  background: -webkit-linear-gradient(to right, #00457c, #00457c);
  background: linear-gradient(to right, #00457c, #00457c);
  height: 100vh;
  }
  
  .rounded-lg {
  border-radius: 1rem;
  }
  
  .custom-file-label.rounded-pill {
  border-radius: 50rem;
  }
  
  .custom-file-label.rounded-pill::after {
  border-radius: 0 50rem 50rem 0;
  }
  
  .bg-color {
  background-color: #00457c;
  color: white;
  }
  
  .remove-border {
  border-top: 0px solid white!important;
  border-left: 0px solid white!important;
  border-right: 0px solid white!important;
  }
  
  .font-cursive {
  font-family: cursive;
  }
  
  .download_button {
  border: none;
  background: #00457c;
  color: #ffffff !important;
  font-weight: 100;
  display: inline-flex;
  align-items: center; 
  border-radius: 6px;
  }
  
  .download_button:hover{
  color: #ffffff !important;
  font-weight: 100 !important;
  background: #00457c;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  ;
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition:  0.3s;
  }
  
  .file-upload input[type='file'] {
  display: none;
  }