// Here you can add other styles
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    font-size: 24px;
    margin-top: 0px !important; 
    margin-bottom: 10px !important;
}

.advanced-pie-legend .total-value {
    font-size: 36px;
    margin-bottom: 10px !important;
}

.advanced-pie-legend .legend-items-container .legend-items {
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden !important;
}

// .chart-legend .legend-labels {
//     line-height: 85%;
//     list-style: none;
//     text-align: left;
//     float: left;
//     width: 100%;
//     border-radius: 3px;
//     overflow-y: auto;
//     overflow-x: hidden;
//     white-space: normal !important; 
//     background: rgba(0,0,0,0)!important; 
// }
.chart-legend .legend-labels {
    line-height: 85%;
    list-style: none;
    text-align: left;
    float: left;
    width: 100%;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: auto !important;
    white-space: nowrap; 
    background: rgba(0,0,0,0)!important; 

}

.mat-mini-fab .mat-button-wrapper {
    padding: 5px 0 !important;
    display: block !important;
    line-height: 2px !important;
}

.isEmbedded::-webkit-scrollbar {
    height: 5px!important;
  }

  .chart-legend .legend-title {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    visibility: hidden !important;
}

.card-header1{
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 255, 255))!important;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: #00457c;
}

.sidebar .nav-link.active {
    color: #fff;
    background: #5c8cac;
}


.sidebar-minimized .sidebar .sidebar-minimizer {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #00457c !important;
}

.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.875rem;
    color: #fff !important; 
    text-align: center;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color:red !important;
    padding-right: 0 !important; 
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control {
    color: black;
    outline-color: black;
    background-color: white;
    border: 2px solid #00457c;
    height: 30px;
    border-radius: 0px !important;
  }

  .remove-border {
    border-top: 0px solid white!important;
    border-left: 0px solid white!important;
    border-right: 0px solid white!important;
  }
  
  .font-cursive {
    font-family: cursive;
  }

  .alert-danger {
    color: red;
    background-color: white !important; 
    border-color: white !important;
  }

  .mat-header-cell {
    vertical-align: middle;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
    font-size: 13px;
    color: white;
    font-family: Verdana, Sans-Serif;
    background-color: #00457c;
    font-weight: bolder;
    border-bottom: 1px solid rgb(117, 110, 110);
    border-top: 1px solid rgb(117, 110, 110);
    border-left: 1px solid rgb(117, 110, 110);
    border-right: 1px solid rgb(117, 110, 110);
  }
  
  .mat-row:nth-child(even) {
    background-color:#8dbddd;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
     padding-right: 0px !important; 
}

th.mat-header-cell {
    text-align: center !important;
}

.mat-expansion-panel-header.mat-expanded {
  background: #00457c !important;
}

.mat-expansion-panel-header{
  background-color: #00457c !important;
  
  
}
.expansionPanel:hover{
background: #00457c !important;
}

.mat-expansion-panel-header-title {
  color: white !important;
  font-family: cursive;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: white !important;
}

.submit_button {
  border: none;
  background: #00457c;
  color: hsl(0, 0%, 100%) !important;
  font-weight: 70;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.submit_button:hover {
  color: #ffffff !important;
  font-weight: 80 !important;
  letter-spacing: 1px;
  /* background: #8697e6; */
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  ;
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.reset_button {
  border: none;
  background: #df452a;
  color: #ffffff !important;
  font-weight: 100;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.reset_button:hover {
  color: #ffffff !important;
  font-weight: 100 !important;
  letter-spacing: 1px;
  background: #df7c74;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

// .mat-dialog-container {
//   display: block;
//   padding-top: 0px !important; 
//   padding-bottom: 0px !important;
//   border-radius: 4px;
//   box-sizing: border-box;
//   overflow: auto;
//   outline: 0;
//   width: 100%;
//   height: 100%;
//   min-height: inherit;
//   max-height: inherit;
// }

.custom-modalbox {
  .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}
}

.mat-tab-body-content{
  overflow: hidden !important;
}



.ngx-org-self-vertical {
  margin-bottom: 2%;
  width: max-content !important;
}

.ngx-org-name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center !important;
}



label.star {
  color: #444;
  float: left !important;
  font-size: 25px !important;
  padding: 10px;
  transition: all .2s;
}




