<app-reusables-result-message type="SUCCESS" [message]="successMessageStatus"></app-reusables-result-message>
<app-reusables-result-message type="ERROR" [message]="errorMessageStatus"></app-reusables-result-message>
<div class="row">
    <div class="col-md-12">
        <div class="card mat-elevation-z4">
            <div class="card-header">
                <strong style="color: #2e2f33; font-size: 20px;">Idea Submission</strong>
            </div>
            <div class="card-body">
                <div class="animated fadeIn">
                    <div>
                        <div class="searchBox">
                            <input class="form-control remove-border" type="text" name="search"
                                (keyup)="applyFilter($event.target.value)" autocomplete="off"
                                placeholder="&#61442;  Search here. ">
                        </div>
                        <div>
                            <table class="dataTable" mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No. </th>
                                    <td mat-cell *matCellDef="let element; let i = index;"> {{(i+1)+
                                        (myPaginator.pageIndex * myPaginator.pageSize)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="createddate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted Date</th>
                                    <td mat-cell *matCellDef="let row">{{row.createddate}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ownerempid">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Emp Id</th>
                                    <td mat-cell *matCellDef="let row">{{row.ownerempid}} </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="designationname">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation</th>
                                    <td mat-cell *matCellDef="let row">{{row.designationname}} </td>
                                </ng-container> -->
                                <ng-container matColumnDef="projecttypeName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Type</th>
                                    <td mat-cell *matCellDef="let row">{{row.projecttypeName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ideaproposalname">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name</th>
                                    <td mat-cell *matCellDef="let row">{{row.ideaproposalname}} </td>
                                </ng-container>

                                <!-- <ng-container matColumnDef="projectstatusbyManager">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manager Status</th>
                                    <td mat-cell *matCellDef="let row"> {{row.projectstatusbyManager}} </td>
                                </ng-container> -->
                                <ng-container matColumnDef="projectstatusbyBtteam">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> BT Status
                                    </th>
                                    <td mat-cell *matCellDef="let row"> {{row.projectstatusbyBtteam}} </td>
                                </ng-container>
                                <ng-container matColumnDef="createdbyName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By
                                    </th>
                                    <td mat-cell *matCellDef="let row"> {{row.createdbyName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                                    <td mat-cell *matCellDef="let row">
                                        <!-- <a *ngIf="(row.createdby==row.ownerreportingmanageremail)"
                                            (click)="viewIdeaSubmission(row)" title="View" routerLinkActive="active">
                                            <i class="fa fa-eye" style="color:black"></i></a> -->

                                        <a *ngIf="isBTAdmin" (click)="viewIdeaSubmission(row)" title="Approval"
                                            routerLinkActive="active">
                                            <i class="fa fa-users" style="color:black"></i></a>

                                        &nbsp;&nbsp;

                                        <a *ngIf="(row.projectstatusbyBtteam != 1)" (click)="editIdeaSubmission(row)"
                                            title="Edit" routerLinkActive="active">
                                            <i class="fa fa-pencil-square-o" style="color:black"></i></a>

                                        &nbsp;&nbsp;

                                        <a *ngIf="isAssociate" (click)="createNewProjectCharter(row)"
                                            title="Initiate Charter">
                                            <i class="fa fa-check" aria-hidden="true" style="color:black"></i>
                                        </a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>
                            <br><br>
                            <label class="InputLabels" *ngIf="hiddenField">No Records
                                Found..!</label>
                            <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>